apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: day11-pvc
  namespace: {{ .Values.namespace }}
spec:
  storageClassName: {{ .Values.pvc.storageClassName }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.pvc.request }}
