apiVersion: v1
kind: Pod
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
spec:
  restartPolicy: OnFailure
  containers:
    - name: app
      image: {{ .Values.image }}
      env:
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secretName }}
              key: API_KEY
