apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- range $key, $val := .Values.service.labels }}
    {{ $key }}: {{ $val }}
    {{- end }}
spec:
  selector:
    app: {{ .Values.appName }}
  ports:
    - port: 80
      targetPort: 8080
      name: http
